@font-face {
    font-family: 'Raleway';
    src: url(../../assets/Fonts/raleway-v22-latin-600.woff2) format('woff2'),
        url(../../assets/Fonts/raleway-v22-latin-600.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../../assets/Fonts/raleway-v22-latin-500.woff2) format('woff2'),
        url(../../assets/Fonts/raleway-v22-latin-500.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    color: white;
}
body{
    display: grid;
}
header, .time{
    background: #1E213A;
}
.header-menu{
    display: flex;
    flex-direction: column;
    position: relative;
}
.header-menu nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 18px;
}
.search-button{
    background-color: #6E707A;
    border: none;
    color: #E7E7EB;
    cursor: pointer;
    padding: 10px 18px;
}
.pocision-button{
    background-color: #6E707A;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.icon-ubication{
    width: 10px;
}
.pocision-button img {
    width: 22px;
    color: #E7E7EB;
}
.time{
    background-image: url('../../assets/img/Cloud-background.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.time .time-img {
    width: 50%;
}
.time .time-info{
    margin-top: 20px;
    text-align: center;
    color: #88869D;
}
.time .time-temperature{
    color: white;
    font-size: 4.8rem;
    margin: 10px;
    margin-bottom: 100%;
    line-height: 56px;
    font-weight: 500;
}
.time .time-info h3 {
    color: #A09FB1;
    font-size: 3.6rem;
}
.places{
    background-color: #1E213A;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.hidden{
    display: none;
}
#close-places{
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    font-size: 2.4rem;
}
.place-search{
    margin: 60px 0 40px 0;
    display: flex;
    justify-content: center;
}
.place-search .input-search{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 60%;
    padding: 18px 5px;
    font-size: 1.6rem;
    position: relative;
    border: 1px solid white;
}
.place-search input{
    background-color: transparent;
    color: white;
    font-size: 1.6rem;
    width: 95%;
    border: none;
    outline: none;
}
.place-search input:active{
    border: none;
}
.place-search input:focus{
    border: none;
}
.place-search button{
    background-color: #3C47E9;
    color: white;
    font-size: 1.6rem;
    border: none;
    width: 30%;
    cursor: pointer;
    margin-left: 10px;
    padding: 18px;
}
.input-search .iconify{
    margin-right: 10px;
}
.item-place{
    margin: 30px 30px;
    display: flex;
    padding: 20px;
    font-size: 1.6rem;
    justify-content: space-between;
}
.item-place:hover {
    border: 1px solid #585676;
    cursor: pointer;
}
.measures{
    text-align: end;
}
.button-active{
    background-color: white;
    color: black;
}
.button-disabled{
    background-color: #585676;
}
.button-celsius, .button-fahrenheit{
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}
.time-info p {
    font-size: 1.8rem;
    margin: 15px;
}
.time-weekend {
    background-color: #100E1D;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0pc;
    grid-row-gap: 30px;
    font-size: 1.6rem;
}
.time-weekend .card-time{
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    padding: 10px;
}
.card-time img {
    width: 80%;
    margin: 10px 0px;
}
.temperatures{
    display: flex;
    justify-content: space-between;
}

.time_Hightlights{
    background-color: #100E1D;
    padding: 20px;
}
.time_Hightlights .data-cards {
    display: grid;
    grid-gap: 30px;
    padding: 0 30px 0px 30px;
}
.time_Hightlights h3{
    font-size: 2.4rem;
    margin-bottom: 15px;
}
.wind-direction{
    display: inline-flex;
    justify-self: center;
    align-items: center;
}
.icon-wind{
    display: inline-flex;
    margin-right: 8px;
    justify-content: center;
    background: #676574;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.percentages{
    display: flex;
    justify-content: space-between;
    color: #A09FB1;
}
.temperature-bar{
    height: 20px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    background: #E7E7EB;
    border-radius: 40px;
}
.temperature-bar-content{
    height: 20px;
    width: 70%;
    z-index: 3;
    background-color: yellow;
    border-radius: 40px;
}
.time_Hightlights .data{
    text-align: center;
    background-color: #1E213A;
    padding: 30px 50px;
    margin: 30px 0;
    width: 100%;
    height: 204px;
}
main{
    background-color: #100E1D;
    padding: 150px;
}
.navigator{
    width: 20px; 
    color: white;
}
.data p {
    font-size: 2rem;
    font-weight: 200;
}
.data span{
    font-size: 6.4rem;
    font-weight: 800;
}
.data-mesures{
    display: flex;
    justify-content: center;
    align-items: end;
}
footer{
    background-color: #100E1D;
    font-size: 1.4rem;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #6E707A;
}
@media (min-width: 1300px) {
    body {
        grid-template-columns: 1fr 3fr;
    }
    .time-weekend{
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 0px;
    }
    .time_Hightlights .data-cards {
        grid-template-columns: 1fr 1fr;
    }
    .button-celsius, .button-fahrenheit{
        display: inline-flex;
    }
  }